<!DOCTYPE HTML>
<html>
	<head>
		<title>predict Churn Client</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index.html" id="logo">CARD CHURNING PREDICTION</a></h1>
								<hr />
								<p>Tester si un client quittera le service ou non</p>
							</header>
							<footer>
								<a href="/predictun" class="button circled scrolly">Enter =></a>
							</footer>
						</div>

					<!-- Nav -->
						<nav id="nav" style="background:#fc0; padding-top: 5px;padding-bottom: 5px;">
							<ul>
								<li><a href="/">Accueil</a></li>
								<li>
									<a href="/predictun">Prediction Simple</a>
									
										</li>

								<li><a href="/predictplus">Prédiction Multiple</a></li>
								
							</ul>
						</nav>

				</div>

			

			<!-- Footer -->
				<div id="footer" style="padding-top: 5px;padding-bottom: 20px;height: 45px;">
					<center><h9 style="font-size: 12px;"> &copy; MarknCO 2021 | Dream!!! And we make it real !! </h9></center>
					
				</div>

		</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.dropotron.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>