<!DOCTYPE HTML>

<html>
	<head>
		<title>predict Churn Client</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload">


	<div id="page-wrapper">

 
					<!-- Nav -->
						<nav id="nav" style="background:#fc0; padding-top: 5px;padding-bottom: 5px;">
							<ul>
								<li><a href="/">Accueil</a></li>
								<li>
									<a href="/predictun">Prediction Simple</a>

										<li>

								<li><a href="/predictplus">Prédiction Multiple</a></li>

							</ul>
						</nav>

				</div><br>	
	
<div><br>	<br>	
	<center><h3>Test de Churn sur plusieurs clients</h3></center>
</div>


<div class="container">

<br>
	<center>
	<p>	
    <h3>Entrer un nombre d'individu pour lesquels la prédiciton des possibilités de Churn sera éffectif ou nom.</h3>	
	</p>
	<form form method="POST" role="form" action="/pred_plus">
		<input type="text"  class="form-control" placeholder="Entrer le nombre pour la prédiction (valeur entre 1-7000)" name="client_numb"  style="width: 50%; border: solid 3px #000000;" required><br>

		<button type="submit" class="btn btn-success" style="height: 50px; font-size: 20px; padding-right: 30px;padding-left: 30px;background: #0f6987;">prediction</button>
		
	</form>
	<img src="	../static/assets/css/images/imgcard.png" style="width: 426px; height: 277px;" responsive>
	</center>




					<div id="footer"style="padding-top: 5px;padding-bottom: 20px;height: 45px;margin-top: 95px;">
					<center><h9 style="font-size: 12px;"> &copy; MarknCO 2021 | Dream!!! And we make it real !! </h9></center>
					
				
					</div>
</div>
					


		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.dropotron.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>